name: CI

on:
  pull_request:
    branches: [ main ]

jobs:
  s2n-bignum-arm-tests:
    runs-on: ubuntu-24.04-arm

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install dependent packages
      run: |
        sudo apt update
        sudo apt install valgrind cmake golang

    - name: Run tests
      run: |
        cd arm
        make
        echo "Make test"
        #cd ../tests
        #CC=gcc make complete
        #make ctCheck
        echo "Make test with valgrind"
        #make clean
        #CC=gcc VALGRIND="valgrind --" make complete || echo "(incomplete test, but proceeding)"
        echo "Make test (clang, build only)"
        #make clean
        #CC=clang make
        echo "Make benchmark (build only, for both of those)"
        #cd ../benchmarks
        #CC=gcc make
        #make clean
        #CC=clang make
        echo "Run AWS-LC integration test (GITHUB_REPOSITORY: ${{ github.event.pull_request.head.repo.full_name }}, GITHUB_TARGET: $GITHUB_TARGET)"
        cd ..
        git clone https://github.com/aws/aws-lc.git --depth=1
        cd aws-lc/third_party/s2n-bignum
        rm -rf ./s2n-bignum-imported
        GITHUB_REPOSITORY=${{ github.event.pull_request.head.repo.full_name }}.git GITHUB_TARGET=$GITHUB_HEAD_REF ./import.sh
        cd ../..
        mkdir aws-lc-build && cd aws-lc-build
        cmake3 -GNinja -DCMAKE_BUILD_TYPE=RelWithDebInfo -DFIPS=On ../aws-lc
        ninja-build run_tests
        cmake3 -GNinja -DCMAKE_BUILD_TYPE=RelWithDebInfo -DFIPS=Off ../aws-lc
        ninja-build run_tests

  s2n-bignum-x86-tests:
    runs-on: ubuntu-24.04

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Run tests
      run: |
        sudo apt update
        sudo apt install valgrind cmake golang
        cd x86
        make
        cd ../x86_att && make clobber && make && git diff --exit-code .
        echo "Make test (build only, for clang)"
        #cd ../tests
        #CC=gcc make complete
        #make ctCheck
        echo "Make test with valgrind"
        #make clean
        #CC=gcc VALGRIND="valgrind --" make complete || echo "(incomplete test, but proceeding)"
        echo "Make test (clang, build only)"
        #make clean
        #CC=clang make
        echo "Make benchmark (build only, for both of those)"
        #cd ../benchmarks
        #CC=gcc make
        #make clean
        #CC=clang make
        echo "Run AWS-LC integration test (GITHUB_REPOSITORY: ${{ github.event.pull_request.head.repo.full_name }}, GITHUB_TARGET: $GITHUB_TARGET)"
        cd ..
        git clone https://github.com/aws/aws-lc.git --depth=1
        cd aws-lc/third_party/s2n-bignum
        rm -rf ./s2n-bignum-imported
        GITHUB_REPOSITORY=${{ github.event.pull_request.head.repo.full_name }}.git GITHUB_TARGET=$GITHUB_HEAD_REF ./import.sh
        cd ../..
        mkdir aws-lc-build && cd aws-lc-build
        cmake3 -GNinja -DCMAKE_BUILD_TYPE=RelWithDebInfo -DFIPS=On ../aws-lc
        ninja-build run_tests
        cmake3 -GNinja -DCMAKE_BUILD_TYPE=RelWithDebInfo -DFIPS=Off ../aws-lc
        ninja-build run_tests
